.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(66, 235, 244);
    padding: 50px;
    margin: 10% auto;
    border-radius: 20px;
    background-color: #c1c1c1;
}
.loginTitleBlock {
    display: flex;
    justify-content: space-around;
}
.RegistrationFormBlock {

}
.error{
    color:red;
}
.captchaBlock{
    padding: 10px 0 0 0;
    display: grid;
    grid-template-rows: 2fr;
    grid-row-gap: 5px;
}
.captchaImg{
    grid-row: 1;
}
.captchaTextField{
    grid-row: 2;
}