.wrapper {
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    /*display: grid;
    grid-column-start: 1;
    grid-column-end: 3;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
    height: 70px;
    border-radius: 1000px;
    margin: 10px 10px 10px 30px;
    border: 2px solid rgb(66, 235, 244);
}
.menuWrapper{
    font-size: 20px;
    color: white;
    /*grid-column: 6;*/
    align-self: center;
    /*justify-self: end;*/
    margin: 0 30px 0 0;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}
.menu .title::after {
    content: '  ▶';
    font-size: 80%;
    color: green;
}
.menu.open .title::after {
    content: '  ▼';
}
.menu.open ul {
    display: block;
}

