.wrapper {
    background-color: rgb(12, 12, 12);
    margin: 10px 5px 10px 0;
    display: flex;
    border-radius: 10px;
    padding: 0 20px;
    height: 450px;
}
.navList {
    color: white;
}
.navItem {
    color: white;
}
.active {
    font-size: 20px;
}
.menuItem {
    padding: 5px;

}
.activeItemBlock {
    border: 0 solid rgb(83, 24, 177);
}
.navList > :first-child {
    margin-top: 20px;
    margin-bottom: 30px;
}
a {
    margin-top: 10px;
}
.navList :hover {
    color: rgb(66, 235, 244);
    padding-top: 10px;
}
.navList > :last-child {
    margin-top: 20px;
}