.waitBlock{
    color: rgb(66, 235, 244);
    margin: 50px 0 0 30px;
    display: flex;
    justify-content: center;
}
.waitText{
    font-size: 40px;
    background-color: #343235;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}